[Unit]
Description=Send Request Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/hamstercombat/app.py
WorkingDirectory=/root/hamstercombat/
Restart=always
StandardOutput=syslog
StandardError=syslog
StandardOutput=append:/root/hamstercombat/hamstercombat_service.out.log
StandardError=append:/root/hamstercombat/hamstercombat_service.err.log
SyslogIdentifier=send_request_service

[Install]
WantedBy=multi-user.target